@tailwind base;
@tailwind components;
@tailwind utilities;

.app {
  padding: 40px;
  background-color: rgb(137, 185, 169);
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80vh;
  overflow: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
}

.app::-webkit-scrollbar {
  width: 8px;
  border-radius: 0 20px 20px 0;
}

.app::-webkit-scrollbar-thumb {
  background: teal;
  border-radius: 0 0 20px 20px;
}

.app > div {
  margin: 0 auto;
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
}

html,
body {
  width: 100%;
  height: 100vh;
  position: relative;
}
h1 {
  font-family: "Courier New", Roboto, Courier, monospace;
}
